.certificates {
    padding-left: 60px;
    text-decoration: underline;
    font-weight: lighter;
    padding: 20px;
    padding-left:60px;
}

section.imgs {
    padding-left: 55px;
    background-color: black;
    padding: 40px;
}