#index {
    text-shadow: 2px 2px 5px cyan;
}

article {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    vertical-align: center;    
}

.hark {
    text-shadow: 2px 2px 5px cyan;
}

.red {
    text-shadow: 2px 2px 5px crimson;
}

.personal {
    border: 5px double black;
    padding: 5px;
}

.connect {
    color: aliceblue;
    background-color: black;
    text-align: left;
    vertical-align: bottom;
    padding-left: 20px;
    text-shadow: 2px 4px 5px crimson;
}

.quote {
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
    font-style: italic;
}