body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 199, 116);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: right;
    padding-right: 40px;
    font-style: oblique;
}

.heading {
    text-decoration: underline;
}

nav {
    text-align: right;
    padding-right: 40px;
}