body {
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    font-family: cursive;
    font-size: 18px;
}

header {
    color: aliceblue;
    background-color: black;
    text-align: right;
    padding: 20px;
    font-style: oblique;
    vertical-align: top;
}

.fname {
    text-shadow: 2px 2px 5px cyan;
}

.lname {
    text-shadow: 2px 2px 5px crimson;
}

.heading {
    text-decoration: underline;
}

nav {
    text-align: right;
    padding-right: 40px;
    border: 2px solid black;
}

ul {
    list-style-type: none;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:visited {
    color:black;
}

a:hover {
    color: white;
    background-color: black;
    text-shadow: 2px 1px 5px crimson;
    font-weight: bolder;
}

.copyright {
    background-color: cornsilk;
    color: black;
    text-align: center;
    vertical-align: bottom;
    text-shadow: 2px 2px 5px crimson;
    border-width: 5px;
    border-style: dotted;
    border-color: black; 
}