body {
    font-family: 'Fira Sans', sans-serif;
    background-color: gold;
    background-image: url("back.png");
}

header {
    background-color: purple;
    background-image: url("header.png");
    padding: 30px;
    box-shadow: 2px 2px 2px 2px black, -2px -2px 2px 2px black;
}

header h1{
    font-weight: lighter;
    font-size: 80px;
    color: yellow;
    text-shadow: 2px 0px 0px black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    cursor: pointer;
    color: purple;
    background-color: yellow;
    font-weight: lighter;
    font-size: 30px;
    padding: 15px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: inset 2px 2px 2px 2px black, inset -2px -2px 2px 2px black;
    text-shadow: 1px 1px 1px black;
}

article {
    background-color: yellow;
    height: 100%;
    margin: 40px;
    box-shadow: 2px 2px 2px 2px black, -2px -2px 2px 2px black;
}

article section {
    display: flex;
    font-size: 30px;
    background-color: yellow;
    color: purple;
    padding: 20px;
    text-shadow: 1px 1px 1px black;    
}

.certificates-page img {
    width: 70%;
    border: black 2px solid;
}

.contacts-page ul {
    list-style-type: none;
}

.gitlink {
    text-decoration: none;
    color: crimson;
}